@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(Roboto);
}
*{

color: 1e1e1e;

background-color: transparent;

font-family: 'Roboto', sans-serif;

font-size: 12pt;

font-weight: 400;

list-style: none;

text-decoration: none;



margin: 0;
padding: 0;


box-sizing: border-box;


}

li{
    width: 200px;
    height: 50px;
   
    background-image: url("https://thumbs.dreamstime.com/b/tire-texture-16431534.jpg");
    background-size: 100%;
    

}

.header{

padding: 1em;

}
.header .navbar{

display: flex;
justify-content: space-between;

}



 .header .navbar .list {
gap: 16pt;
display: flex;
align-items: center;
 }