@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(Roboto);
}
*{

color: 1e1e1e;

background-color: transparent;

font-family: 'Roboto', sans-serif;

font-size: 12pt;

font-weight: 400;

list-style: none;

text-decoration: none;



margin: 0;
padding: 0;


box-sizing: border-box;


}

li{
    width: 200px;
    height: 50px;
   
    
    

}

.header{

padding: 1em;

}
.header .navbar{

display: flex;
justify-content: space-between;

}



 .header .navbar .list {
gap: 16pt;
display: flex;
align-items: center;
 }




 @keyframes myanimacion {
0%{

}

50%{
transform: rotateZ(100deg);

}

10%{

    transform: rotateZ(0deg);
}
 }